security:
    password_hashers:
        App\Entity\User: auto

    providers:
        users:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false


        login:
            pattern: ^/api/login
            stateless: true
            provider: users
            json_login:
                check_path: /api/login
                username_path: email
                password_path: password
                success_handler: App\Security\AuthenticationSuccessHandler
                failure_handler: App\Security\AuthenticationFailureHandler
        api:
            pattern: ^/api
            stateless: true
            provider: users
            jwt: ~

    access_control:
        - { path: ^/api/login, roles: PUBLIC_ACCESS }
        - { path: ^/api/register, roles: PUBLIC_ACCESS }
        # allow unauthenticated users to view API documentation
        - { path: ^/api/docs, roles: PUBLIC_ACCESS }
        # everything else under /api requires a valid JWT
        - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }